<h1>Welcome to the longest word-game !</h1>
<p>Here is your grid :</p>
<% @grid %>
<%= @grid_join = @grid.join(" ") %>
<% start_time = Time.now %>
<form action="/score">
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="attempt" placeholder="What's your best shot ?">
  <input type="submit" value="Go on!">
  <input type="hidden" name="grid_join" value= "<%= @grid%>" >
  <input type="hidden" name="start_time" value= "<%= start_time%>" >
</form>
<p>Find me in app/views/pages/game.html.erb</p>

